body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}
.game-container {
    margin: auto;
    width: 98%;
    border: 3px solid green;
    padding: 10px;
}
input[type=text] {
    padding: 5px;
    margin: 10px 0;
    width: 50%;
}
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.game-history table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

.game-history th, .game-history td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.game-history tr:nth-child(even) {
background-color: #f2f2f2;
}

.game-history th {
background-color: #4CAF50;
color: white;
}